*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 8rem 18rem 8rem;
}

.logo img {
  width: 20rem;
}

.btn--cta {
  color: hsl(322, 100%, 66%);
  text-decoration: none;
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 30px;
  padding: 1rem 4rem;
}

.hero {
  max-width: 63.5em;
  margin: 0 auto;
  text-align: center;
}

.h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  color: hsl(192, 100%, 9%);
}

.hero .para {
  font-size: 2rem;
  padding: 0 20rem;
  margin: 4rem 0;
}

.btn--get-started {
  color: #fff;
  background-color: hsl(322, 100%, 66%);
  text-decoration: none;
  font-weight: 700;
  padding: 2rem 6rem;
  border-radius: 30px;
  display: inline-block;
}

.mockups {
  padding: 15rem 0 12rem 0;
}

.mockups img {
  max-width: 100%;
}

.statistics {
  max-width: 55em;
  margin: 0 auto 13rem auto;
  display: flex;
  justify-content: space-between;
}

.statistic {
  text-align: center;
}

.h3--statistic {
  font-size: 9.6rem;
  font-weight: 700;
  margin-top: -1rem;
  text-align: center;
}

.para--statistic {
  font-size: 2.4rem;
  color: #808e9a;
}

.grow-together {
  margin: 25rem 0;
  position: relative;
  background-color: hsl(207, 100%, 98%);
}

.grow-together-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
  align-items: center;
  padding: 5rem 13rem;
}

.h2 {
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 4rem;
}

.grow-together-container img {
  max-width: 100%;
}

.curved-1--top {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0;
  margin-top: -20rem;
}

.curved-1--bottom {
  position: absolute;
  z-index: -1;
  width: 100%;
  bottom: 0;
  margin-bottom: -16rem;
}

.flowing-conversations {
  padding: 0 13rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
  align-items: center;
  margin-bottom: 25rem;
}

.flowing-conversations img {
  max-width: 100%;
}

.your-users {
  position: relative;
  margin-bottom: 25rem;
  background-color: hsl(207, 100%, 98%);
}

.your-users-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
  padding: 5rem 13rem;
  align-items: center;
}

.your-users-container img {
  max-width: 100%;
}

.curved-2--bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: -17rem;
}

.curved-2--top {
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: -20rem;
}

.cta {
  text-align: center;
  margin-bottom: 25rem;
}

.footer {
  position: relative;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  background-color: hsl(192, 100%, 9%);
  padding: 8rem 13rem 5rem 13rem;
}

.footer-para {
  font-weight: 600;
  margin: 3rem 0;
}

.contact {
  max-width: 38rem;
}

.phone {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

.email {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 7rem;
}

.social-media img {
  display: block;
  filter: invert(100%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.social-media {
  display: flex;
  gap: 3rem;
}

.h4 {
  font-weight: 700;
  font-size: 2.4rem;
}

.newsletter-content {
  max-width: 38rem;
}

.newsletter {
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
}

.newsletter input {
  width: 32rem;
  height: 5rem;
  padding: 1rem 2rem;
  border-radius: 7px;
  outline: none;
  border: none;
}

.newsletter button {
 padding: 0 4rem; 
 border: none;
 color: #fff;
 background-color: hsl(322, 100%, 66%);
 border-radius: 7px;
}

.footer-top {
  width: 100%;
  position: absolute;
  top: 0;
  margin-top: -20rem;
}